body {
  /* font: 39px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.slot {
  margin: 20px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  float: left;
  height: 100px;
  width: 150px;
}

.plate {
  background: var(--bs-gray);
}

.slot:hover {
  outline: none;
  border: 5px solid #999;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
